<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.mapper.UserMapper">
    <resultMap id="user" type="User">
        <id property="id" column="id"></id>
        <result property="firstName" column="first_name"></result>
        <result property="lastName" column="last_name"></result>
        <result property="lastUpdatedTime" column="lastUpdatedTime"></result>
        <association property="userInfo" javaType="UserInfo">
            <result property="address" column="address"></result>
            <result property="tel" column="tel"></result>
        </association>
    </resultMap>

    <select id="getById" resultMap="user">
        SELECT *
        FROM `user`
            LEFT JOIN userinfo ON `user`.id = userinfo.user_id
        WHERE #{id}
    </select>

    <select id="select" parameterType="User" resultMap="user">
        SELECT *
        FROM `user`
        LEFT JOIN userinfo ON `user`.id = userinfo.user_id
        WHERE
            1=1
        <if test="firstName !=null">
            AND first_name LIKE CONCAT('%', CONCAT(#{firstName}, '%'))
        </if>
        <if test="lastName !=null">
            AND last_name LIKE CONCAT('%', CONCAT(#{lastName}, '%'))
        </if>
    </select>

    <update id="update" parameterType="User">
        UPDATE `user`
        SET
        <if test="firstName != null">
            first_name = #{firstName},
        </if>
        <if test="lastName != null">
            last_name = #{lastName},
        </if>
        last_updated_time = #{lastUpdatedTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="User">
        DELETE FROM
            `user`
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (first_name, last_name, last_updated_time)
        VALUES (#{firstName}, #{lastName}, #{lastUpdatedTime});
    </insert>
</mapper>