<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.mapper.UserInfoMapper">
    <update id="update" parameterType="UserInfo">
        UPDATE `userinfo`
        SET
            tel = #{tel},
            address = #{address}
        WHERE
            user_id = #{userId}
    </update>

    <delete id="delete" parameterType="User">
        DELETE FROM
            `userinfo`
        WHERE user_id = #{userId}
    </delete>

    <insert id="insert">
        INSERT INTO `userinfo` (userid, address, tel)
        VALUES (#{userid},#{address},#{tel});
    </insert>
</mapper>